@using Projet_2022.Views.ViewModels
@model LoginVM;

@{
	ViewData["Title"] = "Sign in";
}
<section class="navbar main-menu">
	<div class="navbar-inner main-menu">
		<a href="index.html" class="logo pull-left"><img src="~/themes/images/logo.png" class="site_logo" alt=""></a>
		<nav id="menu" class="pull-right">
			<ul>
				<li>
					<a href="./products.html">Woman</a>
					<ul>
						<li><a href="./products.html">Lacinia nibh</a></li>
						<li><a href="./products.html">Eget molestie</a></li>
						<li><a href="./products.html">Varius purus</a></li>
					</ul>
				</li>
				<li><a href="./products.html">Man</a></li>
				<li>
					<a href="./products.html">Sport</a>
					<ul>
						<li><a href="./products.html">Gifts and Tech</a></li>
						<li><a href="./products.html">Ties and Hats</a></li>
						<li><a href="./products.html">Cold Weather</a></li>
					</ul>
				</li>
				<li><a href="./products.html">Hangbag</a></li>
				<li><a href="./products.html">Best Seller</a></li>
				<li><a href="./products.html">Top Seller</a></li>
			</ul>
		</nav>
	</div>
</section>
<div>
<section class="header_text sub">
	<img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
	<h4><span>Lorem Ipsum Zeppiw</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<form asp-action="Login">
			<div class="span5">
				<h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>
			</div>
			<div class="span7">
				<h4 class="title">
					<div asp-validation-summary="ModelOnly"></div>
				</h4>
				<fieldset>
					<div class="control-group">
						<label class="control-label">Email:</label>
						<div class="controls">
							<input type="text" asp-for="Email" placeholder="Enter your Email"  class="input-xlarge">
							<span asp-validation-for="Email"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password:</label>
						<div class="controls">
							<input type="password" asp-for="Password" placeholder="Write password" id="password" class="input-xlarge">
							<span asp-validation-for="Password"></span>
						</div>
					</div>
					<hr>
					<div class="control-group">
						<p style="color:red">@TempData["Error"]</p>
					</div>
					<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Login"></div>
				</fieldset>
			</div>
		</form>
	</div>
</div>
</section>