@{
    ViewData["Title"] = "Conge";
}
<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">

						<li>
							<img src="~/themes/images/carousel/banner-2.jpg" alt="" />
							<div class="intro">
								<h1>Demand Received</h1>
								<p><span>A mail will be sent to you about your Conge</span></p>
								<a asp-controller="Product" asp-action="Index">
									<p><span>But for the moment, keep working on Products!</span></p>
								</a>
							</div>
						</li>
					</ul>
				</div>			
			</section>
